body{
	font-family: monotype corsiva;
	background: url(image.jpg)center fixed;
	background-repeat: no-repeat;
	background-size:2000px;
	display: flex;

}
#container{
	font-size: 32px;
	margin: 128px auto;
	width: 768px;
}
h1{
	text-align: center;
	color: #333;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 4);
	margin-bottom: 32px;
}

#calculator, #number, .buttons{
	border-radius: 6px;
}
#calculator{
	margin: 0 auto;
	background-color: #454545;
	border: 1px solid #303010;
	width: 279px;
	box-shadow: 0 7px 10px rgba(0, 0, 8);
}
#header{
	padding: 10px;
	border-top: 2px solid #777;
	border-radius: 6px 6px 0;
}
input#number{
	text-align: right;
	background-color: #121212;
	border: none;
	color: #C8C8C8;
	font-size: 20px;
	padding: 16px;
	width: 227px;
	border-bottom: 1px solid #777;
	box-shadow: inset 0 0 10px 4px rgba(0, 0, 0, 6);
}
#body{
	padding: 0 10px;
}
.buttons{
	cursor: default;
	text-align: center;
	padding: 7px 12px;
	font-size: 20px;
	text-shadow: 0 -1px 1px #000;
	color: #FFF;
	font-weight: bold;
	display: inline-block;
	border-top: 1px solid #777;
	width: 34px;
	background: linear-gradient(#5F5F5F 0%, #484848 100%);
	box-shadow: 0 2px 6px rgba(O, 0, 8);
	margin-bottom: 10px;
}

.buttons:hover{
	background: linear-gradient(#79C144 0%, #50A61F 100%);
	border-top: 1px solid #5F5F5F;
	text-shadow: 0 -1px 1px #008000;
}

.buttons:active{
	box-shadow: 2px 2px 2px black;
}

